body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid black;
    margin: 2.5rem;
}
h3{
    text-align: left;
    margin-left: 5rem;
    
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: rgb(223, 77, 77);
}

.yellow{
    background-color: rgb(205, 205, 80);
}

.green{
    background-color: rgb(22, 203, 22);
}

.purple{
    background-color: rgb(211, 46, 211);
}
.flash{
    background-color: white;
}

.userFlash{
    background-color: greenyellow;
}
@media(max-width:450px){
    .btn{
        height: 100px;
        width:100px;
        border-radius: 20%;
        border: 5px solid black;
        margin: 2.5rem;
    }
    .btn-container{
        margin-top: 10rem;
        display: flex;
        justify-content: center;
    }
}